footer {
    background-color: $brand-gray-color;
    padding: 20px;
    display: grid;
}

.footer-links ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 15px;
    row-gap: 10px;
    margin-bottom: 20px;
}

.footer-links ul li {
    list-style: none;
}

.footer-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.footer-links ul li a:hover{
    text-decoration: underline;
}

footer .socials-footer {
    margin: auto;
    font-size: 20px;
    padding-bottom: 15px;
}

footer .tarjetas {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding-bottom: 15px;
}

footer p {
    display: none;
}