body {
    overflow-x: hidden;
    main {
        background-color: $light-brand-color;
        height: 100vh;
        
        .main-section {
            height: 100%;

            .img-gallery {
                display: flex;
                gap: .125rem;
                width: 100%;
                
                img {
                    width: 33.3%;
                    object-fit: cover;
                    overflow: hidden;
                    }
            }
        }
    }    
}