body {
    overflow-x: hidden;

    main {
        background-color: $light-brand-color;
        padding-bottom: 100px;
        
        .main-section {
            height: 100%;

            .img-gallery {
                display: flex;
                gap: .125rem;
                width: 100%;
                
                img {
                    width: 33.3%;
                    object-fit: cover;
                    overflow: hidden;
                }

                .foto3 {
                    display: none;
                }
            }
        }
    }    
}

@media (min-width: 48rem) {
    body {
        main {
            .main-section {
                .img-gallery {
                    img {
                        height: 400px;
                    }
                }
            }
        }
    }
}

@media (min-width: 64rem) {
    body {
        main {
            .main-section {
                .img-gallery {
                    .foto3 {
                        display: inline;
                    }
                }
            }
        }
    }
}