.primary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-family: 'Abhaya Libre', serif;
        font-weight: 700;
        font-size: 2.5rem;
        margin: 2rem;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url("../../assets/img/menu-icon.svg");
        background-repeat: no-repeat;
        width: 2rem;
        border: none;
        aspect-ratio: 1;
        right: 2rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("../../assets/img/close-menu-icon.svg");
    }

    .navbar {
        display: flex;
        gap: 3rem;
        list-style: none;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem) 40px;

        background-color: hsl(0, 0%, 100%, 0.75);
        backdrop-filter: blur(1rem);

        transform: translateX(100%);
        transition: transform 350ms ease-out;

        a {
            text-decoration: none;
        }
    }

    .navbar[data-visible="true"] {
        transform: translateX(0%);
    }
}

@media (min-width: 26.5625rem) {
    .primary-header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: ". logo mobile-nav-toggle";
        align-items: center;


        .logo {
            font-size: 50px;
            grid-area: logo;
            justify-self: center;
            align-self: center;
        }

        .mobile-nav-toggle {
            grid-area: mobile-nav-toggle;
        }
    }
}

@media (min-width: 48rem) {
    
}